<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<<<<<<< HEAD
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
=======
    <h1 class="title"><%= title2 %></h1>
    <p class="content"><%= content %></p>
>>>>>>> 3f0caf0862752a9bcece2df71549c4e088f8b6b5
  </body>
</html>
